[defaults]
roles_path = esercizi_ansible/roles:esercizi_ansible/esercizi_bonus/List_Dictionary/roles:esercizi_ansible/esercizi_bonus/Template/roles:esercizi_ansible/esercizi_bonus/Vault/roles:esercizi_ansible/tasks/automation/ansible/roles
